/*// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/




.logo {
	height: 60%;
	margin-left: 33%;
}

#error-message {
	text-align: center;
	font-style: italic;
	font-size: 3em;
}

.toggle {
	width: 20%;
}